.mod-header {
  background: #ffffff;
  height: .88rem;
  .part-left {
    width: .64rem;
    background: url('//img.wuage.com/147911594168485go-back.png') no-repeat center center;
    background-size: 0.16rem;
  }
  .part-center {
    font-size: 0.34rem;
    color: #353535;
  }
  .part-right {
    width: .64rem;
  }
}
