.container {
  display: flex;
  flex-direction: column;
}

.img {
  background: url("./demo.png");
}

.svg {
  background: url("./lei.svg");
}

body {
  box-sizing: border-box;
}

.app {
  transition: all .2s;
}