{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 9
        },
        "useBuiltIns": false,
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false
      }
    ]
  ]
}
