.index-bar-container {
  position fixed
  z-index 10
  left 0
  right 0
  height 100%
  width 100%
  $ufb();
  $ufb-dir();
  .index-bar-head {
    background: #fff;
    width: 100%;
  }

  .index-bar-main {
    $ufb-flex(1, h);
    position: relative;
    background-color: #f5f5f5;
    .index-bar-content {
      height 100%
      overflow-y auto
      .index-bar-group {
        font-size: 0.75rem;
        color: #656565;
        .index-bar-cell {
          padding-left 0.8rem
          color: #000;
          height 2.2rem
          line-height 2.2rem
          background-color: #fff;
          border-bottom 1px solid #f7f7f7
          &.index-bar-cell-head {
            font-size: 0.7rem;
            height 1.2rem
            line-height 1.2rem
            padding-left 0.8rem
            background-color: #f5f5f5;
            border-top 1px solid #e5e5e5
            border-bottom 1px solid #e5e5e5
            margin-top: -1px
          }
        }
      }
    }
  }
}

//index导航条
.index-bar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 23px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  //background-color: #ddd;
  color #316ccb
  .index-bar-list {
    $ufb();
    $ufb-dir();
    list-style: none;
    height: 100%;
    width: 100%;
  }

  .index-bar-item {
    $ufb-flex(1, h);
    $ufb();
    $ufb-align(center, column);
    $ufb-align(center, row);
  }
}


