* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  font-family: "PingFang SC";
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
a,
img,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.btn {
  display: inline-block;
  outline: none;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2.55555556;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-hollow {
  color: #316ccb;
  border-color: #316ccb;
}
.btn.btn-active {
  color: #fff;
  border-color: #316ccb;
  background-color: #316ccb;
}
.btn.btn-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
.model-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: table;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
  transform: translate3d(0, 0, 0) scale(1.185);
  opacity: 0;
}
.model-container.active {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}
.model-container .model-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.model-container .model-wrapper .model-box {
  width: 13.5rem;
  margin: auto;
  background-color: #fff;
  border-radius: 0.6rem;
  font-size: 0.85rem;
}
.model-container .model-wrapper .model-box .model-header {
  color: #4a4a4a;
  text-align: center;
  font-weight: bold;
  padding-top: 0.9rem;
  padding-bottom: 0.675rem;
}
.model-container .model-wrapper .model-box .model-content {
  font-size: 0.8rem;
  color: #4a4a4a;
  padding: 0 1.5rem 0.9rem;
  text-align: center;
}
.model-container .model-wrapper .model-box .model-footer {
  border-top: 1px solid #e5e5e5;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  color: #316ccb;
}
.model-container .model-wrapper .model-box .model-footer .model-cancel,
.model-container .model-wrapper .model-box .model-footer .model-confirm {
  position: relative;
  float: left;
  width: 50%;
}
.model-container .model-wrapper .model-box .model-footer .model-cancel.both::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 100%;
  width: 1px;
  background-color: #e5e5e5;
}
.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: table;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 0;
}
.toast-container.active {
  opacity: 1;
}
.toast-container .toast-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.toast-container .toast-message {
  min-width: 6.825rem;
  max-width: 11.4rem;
  margin: auto;
  padding: 1.1rem 1.4rem;
  background-color: #353535;
  text-align: center;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}
.toast-container.top .toast-wrapper {
  vertical-align: top;
}
.toast-container.top .toast-message {
  margin-top: 50px;
}
.toast-container.bottom .toast-wrapper {
  vertical-align: bottom;
}
.toast-container.bottom .toast-message {
  margin-bottom: 50px;
}
body {
  background: #f5f5f5;
}
::-webkit-input-placeholder {
  color: #c5c5c5;
}
.mod-result-container .icon-operate {
  background: url("//img.wuage.com/14792908479726icon-operate.png") no-repeat;
  background-size: 2rem;
}
.mod-result-container .icon-tips {
  background: url("//img.wuage.com/14792908479726icon-tips.png") no-repeat;
  background-size: 3rem;
}
.mod-result-container .inner {
  width: 17.55rem;
  margin: 0 auto;
  background: #fff;
}
.mod-result-container .mod-success {
  width: 18.75rem;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  margin-top: 0.6rem;
  text-align: center;
}
.mod-result-container .mod-success .icon-success {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  background-position: 0 0;
}
.mod-result-container .mod-success .main-text {
  margin-top: 0.6rem;
  font-size: 0.8rem;
  color: #555;
}
.mod-result-container .mod-success .sub-text {
  margin-top: 1.2rem;
  color: #959595;
  font-size: 0.6rem;
  margin-bottom: 0.8rem;
}
.mod-result-container .mod-recommend {
  width: 18.75rem;
  margin: 0 auto;
  margin-top: 0.6rem;
  background: #fff;
}
.mod-result-container .mod-recommend .block-title {
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
}
.mod-result-container .mod-recommend .block-title h1 {
  float: left;
  font-size: 0.8rem;
  color: #353535;
  height: 2.65rem;
  line-height: 2.65rem;
  padding-left: 0.8rem;
}
.mod-result-container .mod-recommend .block-title .view-more {
  float: right;
  font-size: 0.65rem;
  color: #656565;
  height: 2.65rem;
  line-height: 2.65rem;
  padding-right: 0.8rem;
}
.mod-result-container .mod-recommend ul {
  background: #fff;
}
.mod-result-container .mod-recommend ul li {
  border-bottom: 1px solid #f2f2f2;
  padding: 0.8rem 0;
  overflow: hidden;
}
.mod-result-container .mod-recommend ul li .left-img {
  float: left;
}
.mod-result-container .mod-recommend ul li .left-img img {
  width: 5rem;
  height: 5rem;
}
.mod-result-container .mod-recommend ul li .right-text {
  position: relative;
  float: left;
  width: 11.5rem;
  height: 5rem;
  overflow: hidden;
  margin-left: 0.625rem;
}
.mod-result-container .mod-recommend ul li .right-text .title {
  font-size: 0.75rem;
  color: #656565;
  line-height: 1.05rem;
  height: 2.1rem;
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.mod-result-container .mod-recommend ul li .right-text .location {
  font-size: 0.6rem;
  color: #959595;
  margin-bottom: 0.2rem;
}
.mod-result-container .mod-recommend ul li .right-text .location .icon-location {
  display: inline-block;
  width: 0.6rem;
  height: 0.75rem;
  background-position: 0 -3rem;
  margin-right: 0.4rem;
  position: relative;
  top: 0.1rem;
}
.mod-result-container .mod-recommend ul li .right-text .company {
  font-size: 0.6rem;
  color: #959595;
  line-height: 1.15rem;
  width: 10rem;
  height: 1.15rem;
  margin-top: 0.5rem;
}
.mod-result-container .mod-recommend ul li .right-text .company .icon-call {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.175rem;
  height: 1.15rem;
  background-position: 0 0;
}
.mod-result-container .mod-recommend ul li:last-child {
  border-bottom: none;
}
