//== css重新设置
* {
  margin: 0;
  padding: 0;
  $prefix(box-sizing, border-box);
  &:before,
  &:after {
    $prefix(box-sizing, border-box);
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: $web-font-base;
}

ul, ol {
  list-style none
}

h1, h2, h3, h4, h5, h6 {
  font-size 1rem
  font-weight normal
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
}

input, textarea {
  outline none
}

//去除在手机页面上面 按钮点击的时候有阴影
a, img, button, input, textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

